body{
    color:rgb(236, 130, 153);
    background:rgb(237, 231, 237);
    margin: 0px;
    font-family: "Satisfy", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(174, 174, 237);
    padding: 20px;
    font-size: 32px;
    color: rgb(232, 154, 167);
}


section{
    background: rgb(239, 216, 216);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.categorias-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-vídeos img{
     opacity: 0.5;
     height: 200px;
}
.categoria-vídeos img:hover{
     opacity: 1.0;
     border: 1px solid rgb(241, 155, 169);
}
.categoria h2{
    color: rgb(238, 113, 232);
}